/*--------------------------------------------------------------------------*/
/* CAROUSEL                                                                 */
/*--------------------------------------------------------------------------*/

body {
    padding-top: 20px;
}

#carousel1 .nav a small {
    display: block;
}

#carousel1 .nav {
    background: #fff;
}
